*{
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box !important;
    /* border: 1px solid red !important; */
}

/* body{
    color: white;
    background-color: #27272c;
} */
.projcontainer:hover img{
    transform: scale(1);
    transition: all 200ms ease-in;
}
.projcontainer:hover .imgcvr{
    opacity: 0.5;
}
img{
    transform: scale(1.1);
}
.projdesc{
    /* width: 100%; */
    height: 100px;
    /* display: none; */
    overflow: hidden;
}
/* .projcontainer:hover .projdesc{
    display: block;
} */